/* kleurtjess
    grijs = #363636
    lichter grijs = #6E6E6E
    roestig = #C75218
    yellow de pellow = #DEAA1B
    greenscreen = #B6E3AC
    margin:0; 
   padding:0; 

   https://css-tricks.com/snippets/css/a-guide-to-flexbox/ 
   https://tinyjpg.com/ 
   https://www.cutthecode.com/about-us 
   https://css-tricks.com/archives/page/2/ 
   https://www.awwwards.com/sites/viens-la-3 
   https://viens-la.com/en/ 
   
*/

/* algemene basis opmaak */

* {
   color: white;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #363636;
}

img {
    max-width: 100%;
}


/* opmaak van de elementen */

h1 {
    color: #C75218;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

header {
    background-color: #252525;
}

h2,h3,h4 {
    color: #DEAA1B; 
    margin: 20px;
    margin-top: 50px;
}

p {
    margin: 20px;
}

.basic-link:hover {
    color: #DEAA1B;
}

a.knopje:link, a.knopje:visited {
    background-color: #6E6E6E;
    border: 2px, solid #DEAA1B;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

a.knopje:hover {
    background-color: #DEAA1B;
}

a.knopjw:active {
    background-color: #C75218;
}

ul {
    list-style-type: circle;
}

.highlight {
    font-weight: bold;
    color: #e1d2a8;
}


/* navigatie */

header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background: #6E6E6E;
}


header nav li a {
    display: block;
    text-align: center;
    padding:  1em;
    text-decoration: none;
    transition: all 350ms linear;
   
}

header nav li a:hover:not(.active) {
    background: #363636;
}

.actief {
    background: #C75218;
}

/* footer */

footer {
    background-color: #C75218;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

footer nav {
    background-color: #6E6E6E;
}

footer nav ul {
   list-style-type: none;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}

footer nav a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 20px;
}

footer p {
   text-align: center;
}

img.bleektrui {
    width: 25%;
    height: auto;
}

/* banner*/


        
/* overzicht met mogelijke technieken */

.titel-technieken {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.technieken{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.img-beschrijving {
    display: inline-block;
    width: 23%;
    height: auto;
}

.beschrijving {
    display: none;
    text-align: center;
    padding: 10px 0;
    background-color: #6E6E6E;
    z-index: 1;
}

.img-beschrijving:hover .beschrijving {
    display: block;
    animation: slide-down 1s 1;
}

@keyframes slide-down {
    0% {
        background-color: #C75218;
        transform: translate(0px,-60px);
    }

    100% {
        background-color: #6E6E6E;
        transform: translate(0px,0px);
    }
}

  
  


/* homepage galerij preview */
/*opmaak*/

.galerij-preview {
    border: 2px solid #6E6E6E;
}

.galerij-preview:hover {
    border: 2px solid #DEAA1B;
}

.galerij-preview img {
    width: 100%;
    height: auto;
}

.ondertitel {
    padding: 15px;
    text-align: center;
} 

/*aangepaste maat*/
.galerij-preview {
    padding: 0 6px;
    float: left;
    width: 24.9999%;
}

@media only screen and (max-width: 900px) {
    .galerij-preview{
        width: 49.9999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .galerij-preview {
    width: 100%;
    }
}

.afsluiting-galerij:after {
    content: "";
    display:  table;
    clear: both;
}



/* galerij overflow scrol-element */

.wrap {
    width: 100%;
    overflow-x: scroll;
}

figure{ 
    display: flex;
    margin:0; 
    padding:0; 
}

figure img {
     height: 400px;
}

.tasjes {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;

}


.sectie {
    background-color: #494949;
    border-radius: 25px;
    margin: 20px;
    padding: 10px 30px 40px;
}

.tip {
    display: flex;
    flex-direction: row;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 15px;
    height: 25px;
}


::-webkit-scrollbar-track {
    background: #6E6E6E; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #DEAA1B; 
  }